body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.chat-container {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.chat-header {
    background-color: #007BFF;
    color: #0b0b0b;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-body {
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    background-color: #a2a4a6;
    color: #050505;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #373738;
}